<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>

    <!-- jQWidgets -->
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'jqwidgets/styles/jqx.base.css' %}" type="text/css" />
    <script type="text/javascript" src="{% static 'jqwidgets/scripts/jquery-1.10.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jqwidgets/jqxcore.js' %}"></script>
    <script type="text/javascript" src="{% static 'jqwidgets/jqxdata.js' %}"></script>
    <script type="text/javascript" src="{% static 'jqwidgets/jqxbuttons.js' %}"></script>
    <script type="text/javascript" src="{% static 'jqwidgets/jqxscrollbar.js' %}"></script>
    <script type="text/javascript" src="{% static 'jqwidgets/jqxscrollbar.js' %}"></script>
    <script type="text/javascript" src="{% static 'jqwidgets/jqxmenu.js' %}"></script>
    <script type="text/javascript" src="{% static 'jqwidgets/jqxcheckbox.js' %}"></script>
    <script type="text/javascript" src="{% static 'jqwidgets/jqxlistbox.js' %}"></script>
    <script type="text/javascript" src="{% static 'jqwidgets/jqxdropdownlist.js' %}"></script>
    <script type="text/javascript" src="{% static 'jqwidgets/jqxgrid.js' %}"></script>
    <script type="text/javascript" src="{% static 'jqwidgets/jqxgrid.sort.js' %}"></script>
    <script type="text/javascript" src="{% static 'jqwidgets/jqxgrid.pager.js' %}"></script>
    <script type="text/javascript" src="{% static 'jqwidgets/jqxgrid.selection.js' %}"></script>
    <script type="text/javascript" src="{% static 'jqwidgets/jqxgrid.edit.js' %}"></script>
    <script type="text/javascript" src="{% static 'jqwidgets/scripts/demos.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var url = "{% static 'sampledata/items.xml' %}";

            // prepare the data
            var source =
            {
                datatype: "xml",
                datafields: [
                    { name: 'CategoryID', type: 'int' },
                    { name: 'Name', type: 'string' }
                ],
                root: "Items",
                record: "Item",
                id: 'ItemID',
                url: url
            };
            var cellsrenderer = function (row, columnfield, value, defaulthtml, columnproperties, rowdata) {
                if (value < 20) {
                    return '<span style="margin: 2px; float: ' + columnproperties.cellsalign + '; color: #ff0000;">' + value + '</span>';
                }
                else {
                    return '<span style="margin: 2px; float: ' + columnproperties.cellsalign + '; color: #008000;">' + value + '</span>';
                }
            }
            var dataAdapter = new $.jqx.dataAdapter(source, {
                downloadComplete: function (data, status, xhr) { },
                loadComplete: function (data) { },
                loadError: function (xhr, status, error) { }
            });

            // initialize jqxGrid
            $("#jqxgrid").jqxGrid(
            {
                width: 370,
                source: dataAdapter,                
                pageable: true,
                autoheight: true,
                sortable: true,
                altrows: true,
                enabletooltips: true,
                editable: true,
                selectionmode: 'multiplecellsadvanced',
                columns: [
                    { text: 'ID', columngroup: 'ITEMS', datafield: 'CategoryID', cellsalign: 'center', align: 'center', width: 80 },
                    { text: 'Name', columngroup: 'ITEMS', datafield: 'Name', cellsalign: 'left', align: 'center', width: 290 }
                ],
                columngroups: [
                    { text: 'ITEMS', align: 'center', name: 'ITEMS' }
                ]
            });
        });
    </script>

</head>
<body class='default'>
    <h3>This test case of Grigoriy Tsarik</h3>
    <div id='jqxWidget' style="font-size: 13px; font-family: Verdana; float: left;">
        <div id="jqxgrid">
        </div>
    </div>

</body>
</html>
